@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* NORMALIZE */

body {
    background: #121212;
    color: #F1F1F1;
}
.mwg_effect035 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 500 normal 15px / normal 'Inter', sans-serif;
}
.mwg_effect035 p {
    padding: 0 0 40px 25px;
    opacity: 0.5;
}
.mwg_effect035 ul {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
}
.mwg_effect035 ul li {
    flex: 1 1 45px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.mwg_effect035 ul li:first-child {
    flex: 1 1 122px;
}
.mwg_effect035 .medias {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);
    overflow: hidden;
} 
.mwg_effect035 .media {
    width: 92px;
    height: 92px;
    object-fit: cover;
    transform: translate(0, 100%);
    border-radius: 4%;
}

@media (max-width: 768px) {
    .mwg_effect035 ul li {
        padding: 0 15px;
    }
    .mwg_effect035 ul li:first-child {
        flex: 1 1 90px;
    }
    .mwg_effect035 .medias {
        gap: 5px;
        right: 15px;
    }
    .mwg_effect035 .media {
        width: 60px;
        height: 60px;
    }
    .mwg_effect035 .media:nth-child(n+5) {
        display: none;
    }
}